---
layout: default
title: Home
notitle: true

role_groups:
    - [faculty, postdoc, staff]
    - [grad]

role_remain:
    - [collab, ugrad, ugrad-alum]
    - [alum]

---

<div class="jumbotron">
  <p>
      Welcome to the homepage of the
        <br>Variational Analysis and Statistical Theory Reading Group at CMU
  </p>
</div>

Variational analysis, derived as an extension of classical real and convex analysis, deals with non-smooth optimization problems, and perturbation analysis
(i.e., how do the solutions change when the objective function or estimating function are changed "slightly"?)
The idea to use variational analysis for statistical theory is not new, but mostly forgotten.
Starting from Chernoff (1954, AoMS), several statisticians have used these tools to obtain asymptotic distribution results.
Through this reading group, we learn more and derive reliable inference methods for irregular problems
(including high-dimensional methods such as lasso or Dantzig selector).


<!--&lt;!&ndash;{% if page.notitle != true %}&ndash;&gt;-->
<!--&lt;!&ndash;  <h1>{{ page.title }}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;  {% if page.people %}&ndash;&gt;-->
<!--&lt;!&ndash;  <div>&ndash;&gt;-->
<!--&lt;!&ndash;  {% include project-people.html people=page.people %}&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;{% endif %}&ndash;&gt;-->

<div class="content">
    {{ content }}
</div>