---
layout: default
title: 2025 Fall Schedule
---

<div class="posts">

  <table class="schedule-table">
    <thead>
      <tr>
        <th>Meeting & Date</th>
        <th>Presenter</th>
        <th>Contents Cover</th>
      </tr>
    </thead>
    <tbody>
      {% assign meetings = site.posts %}
      {% for post in meetings reversed %}
        <tr>
          <td>{{ post.meeting_number }}: {{ post.date | date: "%B %-d, %Y" }}</td>
          <td>{{ post.presenter }}</td>
          <td>
            {{ post.title }}
            {% if post.links %}
            <br>—
            {% for l in post.links %}
            <a href="{{ l.url }}" target="_blank">{{ l.text }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--<p><a href="{{ site.base }}/oldnews.html">See archived news posts.</a></p>-->
